//colors
$light-red: #f83077;
$dark-red: #f50057;
$background: #ffb7b7;
$white: #ffdddd;

html {
  overflow-x: hidden;
}
body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
  background: $background;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-family: "Playfair Display", serif;
  font-size: 96px;
}
a {
  text-decoration: none;
}
p {
  font-size: 20px;
  line-height: 35px;
  letter-spacing: 0.2px;
  color: $light-red;
}
.btn-custom {
  padding: 10px;
  background-color: transparent;
  margin: 10px;
  color: $dark-red;
  border: 2px solid $dark-red;
  font-size: 30px;
  transition: all 0.25s ease-in-out, transform 150ms ease;
  &:hover {
    color: rgb(255, 255, 255);
    background-color: $dark-red;
    border-color: $dark-red;
    a {
      color: $white;
    }
  }
  &:focus {
    box-shadow: #f5005683 0px 0px 0px 0.25rem;
  }
  a {
    color: $dark-red;
  }
}
.preload {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: $background;
  justify-content: center;
  display: flex;
  align-items: center;
  transition: opacity 0.5s ease;
  z-index: 99;
}
.preload-finish {
  pointer-events: none;
  opacity: 0;
}

/* Breakpoints */
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}
