{% extends "base.html" %} {% block content %}
<body>
  <div class="container container__100 text-center">
    <h1>My Birthday Countdown</h1>
    <div class="timer">
      <div class="container-number">
        <div id="days" class="number number-green black">00</div>
        <div class="days black letter">D</div>
      </div>
      <div class="doppelpunkt black">:</div>
      <div class="container-number">
        <div id="hours" class="number number-yellow black">00</div>
        <div class="hours black letter">H</div>
      </div>
      <div class="doppelpunkt black">:</div>
      <div class="container-number">
        <div id="minutes" class="number number-green black">00</div>
        <div class="minutes black letter">M</div>
      </div>
      <div class="doppelpunkt black">:</div>
      <div class="container-number">
        <div id="seconds" class="number number-red black">00</div>
        <div class="seconds black letter">S</div>
      </div>
    </div>
    <div class="buttons">
      <button class="btn btn-custom" type="button" class=""><a href="{{ url_for('send_wishes')}}">Send Wishes💥</a></button>
      <button class="btn btn-custom btn-custom__reverse" type="button" class=""><a href="{{ url_for('send_pics')}}">Send Pics📷</a></button>
    </div>
  </div>
</body>
<script src="{{ url_for('static', filename='js/countdown.js')}}"></script>
{% endblock %}
