{% extends "base.html" %} {% block content %}
<body>
  <img src="{{ url_for('static', filename='images/Circle_Green_XL.png')}}" class="img-fluid konfetti konfetti-green-1 konfetti-300" alt="Green Konfetti" />
  <img src="{{ url_for('static', filename='images/Circle_Green_XL.png')}}" class="img-fluid konfetti konfetti-green-2 konfetti-200" alt="Green Konfetti" />
  <img src="{{ url_for('static', filename='images/Circle_Yellow_XL.png')}}" class="img-fluid konfetti konfetti-yellow-1 konfetti-300" alt="Yellow Konfetti" />
  <img src="{{ url_for('static', filename='images/Circle_Yellow_XL.png')}}" class="img-fluid konfetti konfetti-yellow-2 konfetti-300" alt="Yellow Konfetti" />
  <img src="{{ url_for('static', filename='images/Circle_Red_XL.png')}}" class="img-fluid konfetti konfetti-red-1 konfetti" alt="Red Konfetti" />
  <img src="{{ url_for('static', filename='images/Circle_Red_XL.png')}}" class="img-fluid konfetti konfetti-red-2 konfetti" alt="Red Konfetti" />
  <div class="container container__100-resp form_page px-4 py-5">
    <nav>
      <a class="link-slider link" href="/"><i class="fas fa-backward"></i> Zurück</a>
    </nav>
    <h1 class="text-center">Versende Glückwünsche</h1>
    <p class="text-center">
      Damit du nicht vergisst der Anna zu gratulieren, kannst du ihr jetzt schon Geburtstagwünsche zukommen lassen. Deine Nachricht wird ihr an ihrem Geburtstag
      automatisch per E-Mail versand. <a class="link-slider link" href="">Beispiel Hier!</a>
    </p>
    {% if error_statement %}
    <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
      <strong>Holy guacamole🥑</strong> {{ error_statement }} Wenn du Hilfe brauchst kontaktiere
      <a class="link-slider" href="mailto:hi@anna-mausebaer.de"><strong>hi@anna-mausebaer.de</strong></a>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    <form id="gw-form" class="row g-3 needs-validation" method="POST" action="/send-wishes" novalidate>
      {{ form.csrf_token }}
      <div class="form-floating col-md-6">
        {% if form.fname.errors %} {{ form.fname(class_="form-control is-invalid", placeholder="Vorname") }}
        <div class="invalid-feedback">
          {% for error in form.fname.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.fname(class_="form-control", placeholder="fName") }}
        <div class="valid-feedback">Läuft 👍</div>
        <div class="invalid-feedback">Du hast deinen fNamen vergessen dum dum 🤓</div>
        {% endif %} {{ form.fname.label }}
      </div>
      <div class="form-floating col-md-6">
        {% if form.lname.errors %} {{ form.lname(class_="form-control is-invalid", placeholder="Nachname") }}
        <div class="invalid-feedback">
          {% for error in form.lname.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.lname(class_="form-control", placeholder="lname") }}
        <div class="valid-feedback">Läuft 👍</div>
        <div class="invalid-feedback">Du hast deinen lnamen vergessen dum dum 🤓</div>
        {% endif %} {{ form.lname.label }}
      </div>
      <div class="form-floating col-md-6">
        {% if form.email.errors %} {{ form.email(class_="form-control is-invalid", placeholder="email") }}
        <div class="invalid-feedback">
          {% for error in form.email.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.email(class_="form-control", placeholder="email") }}
        <div class="valid-feedback">Läuft 👍</div>
        <div class="invalid-feedback">Ohne E-Mail ohne mich 😡</div>
        {% endif %} {{ form.email.label }}
      </div>
      <div class="form-floating col-md-6">
        {% if form.secret.errors %} {{ form.secret(class_="form-control is-invalid", placeholder="secret") }}
        <div class="invalid-feedback">
          {% for error in form.secret.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.secret(class_="form-control", placeholder="secret") }}
        <div class="valid-feedback">Läuft 👍</div>
        <div class="invalid-feedback">Beantworte bitte die Sicherheitsfrage du Bot 🤖</div>
        {% endif %} {{ form.secret.label }}
      </div>
      <div class="form-floating col-12">
        {% if form.gw_text.errors %} {{ form.gw_text(class_="form-control is-invalid", placeholder="gw_text") }}
        <div class="invalid-feedback">
          {% for error in form.gw_text.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.gw_text(class_="form-control", placeholder="gw_text") }}
        <div class="valid-feedback">Läuft 👍</div>
        <div class="invalid-feedback">Upps...Du hast die Glückwünsche vergessen 🙊</div>
        {% endif %} {{ form.gw_text.label }}
      </div>
      <div class="form-floating col-md-6">
        {{ form.recaptcha }}
        <div class="invalid-feedback">Bist du ein Bot 🤖?</div>
        {% if form.recaptcha.errors %} {% for error in form.recaptcha.errors %}
        <span style="width: 100%; margin-top: 0.25rem; font-size: 0.875em; color: #dc3545">Haken setzen du Bot 🤖</span>
        {% endfor %} {% endif %}
      </div>
      <div class="form-floating col-md-6">
        <button class="btn btn-custom btn-custom__reverse mx-auto" type="submit">Senden 🚀</button>
      </div>
    </form>
  </div>
</body>
{% endblock %}
