{% extends "base.html" %} {% block content %}
<body>
  <div class="container">
    <h1 class="text-center">Send <del>Nudes</del> Pictures</h1>
    <p class="text-center">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti labore voluptatibus iusto nihil velit voluptate, optio molestias mollitia placeat
      dolore laboriosam incidunt qui sed possimus aliquam sint distinctio omnis deserunt!
    </p>
    <form id="pic-form" class="row g-3 needs-validation text-center" enctype="multipart/form-data" method="POST" action="/send-pics" novalidate>
      {{ form.csrf_token }}
      <div class="col-6 form-group">
        {% if form.upload.errors %} {{ form.upload(class_="form-control is-invalid", placeholder="upload") }}
        <div class="invalid-feedback">
          {% for error in form.upload.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.upload(class_="form-control", placeholder="upload") }}
        <div class="valid-feedback">Läuft 👍</div>
        <div class="invalid-feedback">Du hast kein Bild hochgeladen dum dum 🤓</div>
        {% endif %}
      </div>
      <div class="col-6 form-group">
        <button class="btn btn-custom btn-custom__reverse" type="submit">Senden 🚀</button>
      </div>
    </form>
  </div>
</body>
{% endblock %}
