{% extends "base.html" %} {% block content %}
<body>
  <div class="container container__100 text-center">
    <h1>Das hat geklappt {{ name }}</h1>
    <p class="text-center">
      Bevor deine Glückwünsche abgeschickt werden können, musst du deine E-Mail Adresse bestätigen. Du solltest hierfür eine Bestätigungsmail an {{ email }} erhalten haben.
    </p>
    <img class="my-1 mx-auto" loading="lazy" src="{{ url_for('static', filename='images/success.gif')}}" alt="success_gif" style="width: 300px;">
    <div class="text-center my-2">
      <a class="link-slider" href="/">><i class="fas fa-backward"></i>Zurück zum Countdown</a>
    </div>
    </p>
  </div>
</body>

{% endblock %}
