{% extends "base.html" %} {% block content %}
<body>
  <div class="container" style="text-align: center;">
    <h1>Das hat geklappt {{ name }}</h1>
    <p style="text-align: center;">
      Bitte bestätige deine E-Mail Adresse, bevor deine Glückwünsche abgeschickt werden können. Du solltest hierfür eine Bestätigungsmail erhalten haben.
    </p>
    <img loading="lazy" src="{{ url_for('static', filename='images/ESg6.gif')}}" alt="sucxess_gif" style="width: 200px;">
    <a href="/" style="width: 100%; text-align: center; display: block;">Zurück zum Countdown</a>
    </p>
  </div>
</body>

{% endblock %}
